SampleCode-Anderson/Chapter 10/Chapter10Sample/Chapter10Sample/SampleData/ProductSampleData/ProductSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProductSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProductSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductSampleData" type="tns:ProductSampleData" />
  <xs:complexType name="ProductSampleData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="ProductNumber" type="xs:string" />
  </xs:complexType>
</xs:schema>